.jumbotron {
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-inline-start: 4rem;
    background-color: #AF0171;
    color: white;
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-font-color: var(--bs-white);
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #e80f88;
    --bs-btn-border-color: var(--bd-violet);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #AF0171;
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}


#movies {
    background-color: #AF0171;
    padding: 2rem 2rem;
}

#movies h2 {
    color: #fff;
}

#series, #trend {
    padding: 2rem 2rem;
}
